// COLORS
$color-white: #fff;
$color-black: #000;

$color-grey-1: #999;
$color-grey-2: #aaa;
$color-grey-3: #bbb;

$color-light-grey-1: #fafafa;
$color-light-grey-2: #eaeaea;
$color-light-grey-3: #dadada;
$color-light-grey-4: #f0f0f0;

$color-dark-grey-1: #333;
$color-dark-grey-2: #555;
$color-dark-grey-3: #777;

$color-primary: rgb(23, 91, 240);
$color-primary-dark: #0d2f9e;
$color-primary-light: #3194e6;

// FONT SIZES
$default-font-size: 1.6rem;

$font-size-large: 1.8rem;

// SHADOWS
$tiny-shadow: 0 .5rem 1rem rgba($color-black, .05);
$small-shadow: 0 .5rem 1rem rgba($color-black, .15);
$medium-shadow: 0 1em 2rem rgba($color-black, .15);

