.dashboard {
  margin-top: 3rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__values {
    display: flex;

    &__single {

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }


  &__main {
    margin-top: 2rem;
  }

  &__menu {
    border-right: 1px solid $color-light-grey-3;

    &__button {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}